*.o
*.lo
*.la
*.pc
*.in
*.status
*.sub
*.guess
*.log
*.swp
.deps
.libs
missing
depcomp
Makefile
aclocal.m4
autom4te.cache
config.h
configure
install-sh
libtool
ltmain.sh
missing
.deps
Makefile
msmcommd
msmcterm
msmc_forward
stamp-h1
.gitignore
frame_test
.deps
core
