*.o
*.lo
*.la
*.pc
*.in
*.status
*.sub
*.guess
*.log
*.swp
.deps
.libs
missing
compile
depcomp
Makefile
aclocal.m4
autom4te.cache
config.h
configure
install-sh
libtool
ltmain.sh
missing
.deps
Makefile
msmcommd/src/msmcommd
msmsh/src/msmsh
stamp-h1
.gitignore
frame_test
test_message
.deps
core
*.stamp
*.o
*.gir
*.deps
*~
