*.o
*.in
*.status
*.sub
*.guess
*.log
missing
depcomp
Makefile
aclocal.m4
autom4te.cache
config.h
configure
install-sh
libtool
ltmain.sh
missing
src/.deps
src/Makefile
src/msmcommd
stamp-h1
.gitignore
