<?xml version="1.0" encoding="UTF-8"?>
<namespace:system>
	<description></description>
	<structures>
		<structure name="cm_ph_info_available_event" length="0">
		</structure>
		<structure name="charger_status_event" length="13">
			<field name="voltage" start="5" end="6" type="uint16_t"/>
		</structure>
		<structure name="radio_reset_ind_event" length="76">
		</structure>
		<structure name="cm_ph_resp" length="12">
		</structure>
		<structure name="cm_ph_event" length="4101">
		</structure>
		<structure name="get_firmware_info_resp" length="143">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="hci_version" start="4" type="uint8_t"/>
			<field name="firmware_version" start="8" end="20" type="uint8_t"/>
		</structure>
		<structure name="get_imei_resp" length="21">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="imei" start="4" end="20" type="uint8_t"/>
		</structure>
		<structure name="get_imei_msg" length="4">
		</structure>
		<structure name="change_operation_mode_msg" length="5">
			<description>
			</description>
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="operation_mode" start="4" type="uint8_t"/>
		</structure>
		<structure name="test_alive_msg" length="5">
			<field name="some_value0" start="0" type="uint8_t"/>
			<field name="some_value1" start="4" type="uint8_t"/>
		</structure>
		<structure name="get_firmware_msg" length="4">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
		</structure>
		<structure name="get_phone_state_info_msg" length="4">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
		</structure>
		<structure name="charger_status_msg" length="13">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="voltage" start="5" end="6" type="uint16_t"/>
			<field name="mode" start="8" type="uint8_t"/>
			<field name="rc" start="12" type="uint8_t"/>
		</structure>
		<structure name="charging_msg" length="9">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="mode" start="5" type="uint8_t"/>
			<field name="voltage" start="6" end="7" type="uint16_t"/>
			<field name="rc" start="8" type="uint8_t"/>
		</structure>
		<structure name="test_alive_resp" length="0">
		</structure>
		<structure name="set_system_time_msg" length="26">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="year" start="4" end="5" type="uint16_t"/>
			<field name="month" start="6" end="7" type="uint16_t"/>
			<field name="day" start="8" end="9" type="uint16_t"/>
			<field name="hour" start="10" end="11" type="uint16_t"/>
			<field name="minutes" start="12" end="13" type="uint16_t"/>
			<field name="seconds" start="14" end="15" type="uint16_t"/>
			<field name="timezone_offset" start="18" end="21" type="int32_t"/>
			<field name="value0" start="22" type="uint8_t">
				<description>
				Meaning of this field is currently unknown. It is the last part of the following command
				webOS uses to tell the TilDaemon we params for the set system time command
				"tel.setsystemtime 2008 7 28 21 20 52 -480 1". We currently don't set this value.
				</description>
			</field>
			<field name="static0" start="24" type="uint8_t">
				<descripton>
				This value is always set to "3".
				</descripton>
			</field>
		</structure>
		<structure name="set_system_time_resp" length="6">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="static0" start="4" type="uint8_t">
				<descripton>
				This value is always set to "3".
				</descripton>
			</field>
		</structure>
		<structure name="rssi_status_msg" length="5">
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
			<field name="status" start="4" type="uint8_t">
				<description>
				Set to "0" disables RSSI status updates and set to "1" enables them.
				</description>
			</field>
		</structure>
		<structure name="rssi_status_resp" length="8">
			<description>
			Typical rssi_status_resp looks like this (it's the same for rssi enable/disable):
			00000000 49 00 00 00 01 00 01 00
			We don't know the meaning of the last four bytes.
			</description>
			<field name="ref_id" start="0" end="3" type="uint32_t"/>
		</structure>
	</structures>
</namespace:system>
